$font-main: "Nunito", sans-serif;
$font-btn: "Lato", sans-serif;
$font-text: "Playfair Display", serif;

$color: #121212;
$color-title: #121212;
$color-text: #0ec261;
$color-black: #121212;
$color-green: #0ec261;
$color-white: #ffffff;
$color-grey-light: #eeeeee;
$color-grey: #999999;
$media: screen;
$desktop-max: 1439px;
$desktop-min: 1024px;
$tablet-max: 1023px;
$tablet-min: 768px;
$mobile-max: 767px;
$mobile-min: 320px;
